.not-found-container{
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.image-page-not-found{
    width: 600px;
    margin-top: 70px;
}

.text-page-not-found{
    margin-top: 60px;
    margin-bottom: 30px;
}