.left-pane-container{
    text-align: left;
}

.left-home-list{
    list-style-type: none;
    text-align: left;
}

.left-home-list-element{
    padding: 8px 0;
    border-left: 5px solid white;
}

.left-home-list-element a{
    padding-left: 12px;
    color: #2d2d2d;
    text-decoration: none;
}

.active-list-left-pane{
    border-left: 5px solid #6c63ff;
}

.libraries_list_left_pane{
    height: 290px;
    overflow: hidden;
    overflow-y: scroll;
    list-style-type: none;
    width: 170px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px 0 0;
}

.text-above-list-left-pane{
    font-weight: 500;
    margin-top: 10px;
    text-align: left;
    padding-left: 17px;
}

.album_cover_left_pane{
    position: absolute;
    bottom:10vh;
    left: 0;
    max-width: 170px;
    max-height: 170px;
}