.navbar{
    background-color: #2F2E41;
    display: flex;
    color:white;
    width: 100%;
}

.book-color{
    color: #6C63FF;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar-left{
    font-size: 21px;
    padding: 15px 0;
    color: white;
}

.navbar-center{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.navbar-center a{
    transition: 0.2s;
}

.navbar-center a:hover{
    color: #6C63FF;
}

.navbar-center, .navbar-right{
    margin-top: 24px;
}


.searchPanel{
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    transition: 0.2s;
}

.searchPanel:focus, .searchPanel:hover{
    border-bottom: 1px solid #6c63ff;
}

input:focus{
    outline: none;
}

#create-playlist{
    width: 300px;
    height: 300px;
    background: #f6f6f6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
    transition: 0.2s;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    display: none;
    color: black;
    border:1px solid black;
}